*.env
.idea/
tmp/
*.bkp
*.log
/installer/iso
/installer/result

.local/

### Python
*.venv/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Quickemu VMs
testing/scenarios/qemu-*/*
!testing/scenarios/qemu-*/*.conf