# START Proxmox config, if available
# shellcheck disable=SC2148
# shellcheck disable=SC2034
PROXMOX_HOST="your-proxmox-host"
PROXMOX_USER="geothain"
PROXMOX_SUDO_PASSWORD="your-sudo-password"

# Storage Configuration
PROXMOX_STORAGE="local-lvm"
PROXMOX_ISO_STORAGE="local"

VM_NIXOS_USER_PASSWORD="nixos-test-123"
VM_SSH_KEY="/path/to/your/ssh/key"
# END Proxmox config

# Current nix machine config to use
NIX_CONFIG="../#<configuration name>"

# For nixos-anywhere
TARGET_HOST_IP="<ip address>"
SSH_KEY_FILE="/path/to/ssh/key"